.hero {
    background-image: url('./images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 650px;

    @include breakpoint-up(medium) {
        background-image: url('./images/desktop/image-hero.jpg');
    }

    &__text-container {
        
        h1 {
            max-width: min-content;
            font-size: 2.5rem;
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
            line-height: 1;
            border: 2px solid #fff;
            padding: 22px 22px 16px 22px;
            margin-top: 100px;
            margin-right: auto;
            margin-left: auto;

            @include breakpoint-up(medium) {
                max-width: 450px;
                font-size: 54px;
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}